// fonts
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

// variables 
$dark-cyan: hsl(158, 36%, 37%);
$color-cream: hsl(30, 38%, 92%);
$dark-blue: hsl(212, 21%, 14%);
$dark-grayish: hsl(228, 12%, 48%);
$color-white: hsl(0, 0%, 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-cream;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 340px;

    .card {
        background-color: $color-white;
        border-radius: 10px;
        display: flex;
        border: none;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .img-desktop {
            display: none;
        }

        img {
            max-width: 100%;
        }

        .card-content {
            padding: 1.4rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .card-text {
                span {
                    text-transform: uppercase;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    letter-spacing: 0.4rem;
                    color: $dark-grayish;
                    font-size: 0.7rem;
                }

                h1 {
                    font-family: 'Fraunces', serif;
                    font-weight: 700;
                    padding: 0.8rem 0;
                    font-size: 2.1rem;
                }

                p {
                    font-family: 'Montserrat', sans-serif;
                    color: $dark-grayish;
                    line-height: 1.5rem;
                    font-size: 0.88rem;
                }
            }

            .price {
                display: flex;
                align-items: center;
                gap: 1.3rem;

                .price-1 {
                    font-family: 'Fraunces', serif;
                    font-weight: 700;
                    font-size: 2.1rem;
                    color: $dark-cyan;
                }

                .price-2 {
                    font-family: 'Montserrat', sans-serif;
                    color: $dark-grayish;
                    font-size: small;
                    text-decoration: line-through;
                }
            }

            .btn-main {
                display: flex;
                justify-content: center;
                gap: 0.8rem;
                font-family: 'Montserrat', sans-serif;
                color: $color-white;
                background-color: $dark-cyan;
                border: none;
                padding: 1rem;
                border-radius: 10px;
                cursor: pointer;

                span {
                    font-size: 0.9rem;
                }

                &:hover {
                    background-color: #1a4031;
                }
            }
        }
    }
}

@media (min-width: 690px) {

    .container {
        max-width: 675px;

        .card {
            flex-direction: row;

            .card-image {
                flex: 1;

                .img-desktop {
                    display: flex;
                }

                .img-mobile {
                    display: none;
                }
            }

            .card-content {
                flex: 0.8;
                padding: 2.2rem;

                .card-text {
                    h1 {
                        font-size: 2.4rem;
                        line-height: 2.3rem;
                        margin-bottom: 0.7rem;
                        margin-top: 0.5rem;
                    }

                    p {
                        font-size: 1rem;
                    }
                }

                .price {
                    margin: 1rem 0;
                }
            }
        }
    }
}